<div class="container ml-15 mr-15 w-100">
    <div class="row">
        <h1 class="col">Listado de Pokémones</h1>
        <div class="col end-center">
            <button class="btn btn-primary" routerLink="/pokemon/nuevo">
        <i class="fa fa-plus"></i>
        Agregar
      </button>
        </div>
    </div>

    <hr>
    <table *ngIf="!cargando && pokemones.length > 0" class="table table-striped table-dark mt-3 animated fadeIn faster">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Idemtificador</th>
                <th scope="col">Pokémon</th>
                <th scope="col">Attack Base</th>
                <th scope="col">Defense Base</th>
                <th scope="col">HP Base</th>
                <th scope="col">Great High Product</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poke of pokemones; let i = index">
                <th scope="row">{{ i + 1}}</th>
                <td>{{ poke.identificador }}</td>
                <td>{{ poke.nombre }}</td>
                <td>{{ poke.baseAttack }}</td>
                <td>{{ poke.baseDefense }}</td>
                <td>{{ poke.baseHP }}</td>
                <td>{{ poke.greatHighProduct }}</td>
                <td>
                    <button class="btn btn-info mr-1"
                            [routerLink]="['/pokemon', poke.idFirebase]">
                        <i class="fa fa-pen"></i>
                    </button>

                    <button class="btn btn-danger"
                            (click)="borrarPoke( poke, i )">
                        <i class="fa fa-trash"></i>
                    </button>

                    <button class="btn btn-success ml-1" (click)="calcularLvl( poke )">
                        <i class="fa fa-sort-amount-up"></i>
                    </button>
                    
                </td>    
                            
            </tr>

        </tbody>
    </table>

    <div *ngIf="!cargando && pokemones.length == 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando..</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor..
        </p>
    </div>


    <div class="text.center animated fadeIn faster">
        <button class="btn btn-success" (click)="test()">
            <i class="fa fa-brain"></i>
        </button>
    </div>

</div>
