<div class="container ml-15 mr-15 w-100">
    <div class="row">
        <h1 class="col">Pokémon <small>Nombre del Pokémon</small></h1>
        <div class="col end-center">
            <button class="btn btn-danger " routerLink="/pokemones">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Volver
      </button>
        </div>
    </div>

    <hr>
</div>



<div class="animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardar( pok )" #pok="ngForm">

            <div class="row">
                <!-- Nombre -->
                <div class="form-group col-7">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre del Pokémon" requited [(ngModel)]="pokemon.nombre" name="nombre">
                </div>

                <!-- identificador -->
                <div class="form-group col-2">
                    <label>identificador</label>
                    <input type="text" class="form-control" placeholder="Numero del Pokémon en la pokedex" requited [(ngModel)]="pokemon.identificador" name="identificador">
                </div>

                <!-- Firebase ID -->
                <div class="form-group col-3">
                    <label>Firebase ID</label>
                    <input type="text" class="form-control" disabled="disabled" placeholder="Firebase ID" [(ngModel)]="pokemon.idFirebase" name="id">
                    <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
            </div>

            <div class="row">
                <!-- HP -->
                <div class="form-group col">
                    <label>Base HP</label>
                    <input type="text" class="form-control" placeholder="Base HP del Pokémon" requited [(ngModel)]="pokemon.baseHP" name="baseHP">
                </div>

                <!-- Attack -->
                <div class="form-group col">
                    <label>Base Attack</label>
                    <input type="text" class="form-control" placeholder="Base Attack del Pokémon" requited [(ngModel)]="pokemon.baseAttack" name="baseAttack">
                </div>

                <!-- Defense -->
                <div class="form-group col">
                    <label>Base Defense</label>
                    <input type="text" class="form-control" placeholder="Base Defense del Pokémon" requited [(ngModel)]="pokemon.baseDefense" name="baseDefense">
                </div>

            </div>

            <div class="row text-right">
                <!-- Great High Product -->
                <div class="form-group col-3 offset-9">
                    <label>Great High Product</label>
                    <input type="text" class="form-control text-right" disabled="disabled" placeholder="Great High Product" [(ngModel)]="pokemon.greatHighProduct" name="greatHighProduct">
                    <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Guardar
              </button>
            </div>

        </form>
    </div>
</div>
